body {max-width: 90%;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(102, 102, 102));
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(102, 102, 102));
    background-image: url("https://www.fg-a.com/wallpapers/white-marble-3-2018.jpg");}
p {font-family: Serif;
letter-spacing: 0.1em;
font-size: medium;
color: darkslategray}

a {font-weight: bolder}

a:link {
    color: blue;

}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
    for monkey  background-color: black;
}

a:active {
    color: red;
}

 blockquote {width: 50%;
 margin: auto;
 font-size: 160%;
 background-color: lightgray;
    border-left: 3px solid black;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 80px;
     padding-top: 80px;
 }
.Neighbour {border-left: red 3px solid;
}

.farmer {border-left: green 3px solid;}

.bad {color: red;
    text-transform: uppercase;}

.good {color: green;
    text-transform: uppercase;}

header {background-color: yellow;}

#bolt {font-weight: bold;}

tr:nth-child(odd) {background-color: white;}

tr:nth-child(even) {background-color: gray;}

img {float: left;
margin: 30px:}

table, th, td {
    border: 1px solid black;
}

/* rajoute le code nécessaire ici*/
position: fixed;
bottom: 0;
overflow: hidden;
